.login{
  width: 100%;
  max-width: 800px;
  margin: 120px auto 80px;
  padding: 0px 20px;
  h2{
    text-align: center;
    border-bottom: 5px double #333;
  }
  .loginBox{
    margin-top: 50px;
    .ant-btn-variant-solid {
      background-color: rgb(255, 166, 181);
    }
    .ant-checkbox-input:checked{
    background-color: rgb(255, 166, 181);

  }
}
}